<!DOCTYPE html>
<html>
<head>
  <title>SmcClassroom</title>
  <%= stylesheet_link_tag    "smc_classroom/application", :media => "all" %>
  <%= javascript_include_tag "smc_classroom/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
